<div class="container-fluid align-items-center justify-content-center">
  <div class="row about-bg img-fluid"></div>
  <div class="row graph_paper-bg d-flex justify-content-center align-items-center">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 p-4">
      <p><strong>モチベフィット</strong>は、フィットネス愛好者や初心者が気軽に利用できるSNSです。</p>
      <p>以下の機能で、あなたのフィットネスライフをサポートします。</p>
      <ul>
        <li>トレーニングログ投稿： 今日のトレーニングをシェアしてモチベーションをキープ！</li>
        <li>いいね＆コメント： 仲間の投稿に励ましやアドバイスを送れる！</li>
        <li>フォロー機能： 共感できる仲間をフォローして、継続の力に！</li>
        <li>投稿履歴の確認： 過去の投稿を振り返って自分の取り組みを見直せる！</li>
        <li>通知機能： フォローしている人の投稿や、自分の投稿へのいいね、フォローされた通知が届き、つながりを感じられる！</li>
      </ul>
      <p><strong>モチベフィット</strong>で、楽しく、無理なくフィットネスを続けましょう。</p>
    </div>
  </div>
</div>