<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      <h4 class="bg-secondary-subtle w-25 my-2 p-1">ユーザー管理</h4>
      <table class="table">
        <thead  class="table-light border-top-color border-secondary">
          <tr>
            <th scope="col">ユーザーID</th>
            <th scope="col">名前</th>
            <th scope="col">メールアドレス</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th scope="row"><%= link_to user.id, admin_user_path(user.id), class: "text-dark" %></th>
              <td><%= link_to user.name, admin_user_path(user.id), class: "text-dark" %></td>
              <td><%= link_to user.email, admin_user_path(user.id), class: "text-dark" %></td>
              <% if user.email != "guest@example.com" %>
                <td><%= link_to '削除', admin_user_path(user), class: "btn btn-outline-danger btn-block", method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>