<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <%= render "profile", user: @user %>
      <%= render "public/posts/new_post", post: @post %>
    </div>
    <div class="col-md-7 offset-md-1">
      <%= render "public/posts/posts_list", posts: @posts %>
    </div>
  </div>
</div>